@model Shop_Models.Product
@using Shop_Utility

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="col-lg-3 col-md-4 pb-3 filter @Model.Gender.Name.Replace(' ','_')">
        <a asp-action="Details" asp-route-id="@Model.Id" class="card bg-white shadow-sm text-dark text-decoration-none">
            <img class="card-img-top img-fluid d-block mx-auto mb-2" src="@WC.ImagePath@Model.Image" alt="Card image cap">
            <div class="card-body">
                <div class="col-12">
                    <label>@Model.ProductName</label>
                </div>
                <div class="col-12">
                    <p>@Model.ProductDescription</p>
                </div>
                @{
                    int priceAsInt = (int)Model.Price;
                }
                <div class="col-12">
                    <label class="price">€@priceAsInt</label>
                </div>
                
            </div>
        </a>
    </div>
</body>
</html>



