@model Shop_Models.ViewModels.DetailsVM
@using Shop_Utility

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .slider-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        }

        .slider-container img {
        width: 100%;
        display: none;
        }

        .slider-container img.active {
        display: block;
        }

        .arrow {
        position: absolute;
        top: 50%;
        width: 30px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        transform: translateY(-50%);
        z-index: 1;
        }

        .arrow-left {
        left: 50px;
        }

        .arrow-right {
        right: 50px;
        }

        .gallery-thumbnails {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        }

        .gallery-thumbnail {
        width: 50px;
        height: 50px;
        margin: 0 5px;
        cursor: pointer;
        }

        .gallery-thumbnail.active {
        border: 2px solid #000;
        }

        .return-link {
        position: fixed;
        top: 14%;
        right: 14%; 
        transform: translateX(14%); 
        z-index: 100; 
        }
    </style>
</head>
<body>
    <form method="post">
        <input asp-for="@Model.Product.Id" hidden />
        <div class="return-link">
            <a asp-action="Shop">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <g clip-path="url(#clip0_60_2)">
                        <rect width="19" height="19" fill="white" />
                        <line x1="0.53033" y1="0.46967" x2="18.5303" y2="18.4697" stroke="black" stroke-width="1.5" />
                        <line x1="18.5303" y1="0.53033" x2="0.530328" y2="18.5303" stroke="black" stroke-width="1.5" />
                    </g>
                    <defs>
                        <clipPath id="clip0_60_2">
                            <rect width="19" height="19" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </div>
        <div class="product-container">

            <div class="product-image">
                <div class="slider-container">
                    <div class="arrow arrow-left">&#10094;</div>
                    <div class="arrow arrow-right">&#10095;</div>
                    <img id="mainImage" src="@WC.ImagePath@Model.Product.Image" class="active" />
                    @foreach (var image in Model.GalleryImages)
                    {
                        <img src="@image.Url" class="gallery-image" />
                    }
                </div>
                <div class="gallery-thumbnails">
                    <img src="@WC.ImagePath@Model.Product.Image" class="gallery-thumbnail active" data-index="0" />
                    @for (int i = 0; i < Model.GalleryImages.Count; i++)
                    {
                        <img src="@Model.GalleryImages[i].Url" class="gallery-thumbnail" data-index="@((i + 1).ToString())" />
                    }
                </div>
            </div>
            <div class="product-description">
                <div class="row align-center">
                    <div class="product-details column medium-6 center-text-for-small-only">
                        <h2>@Model.Product.ProductName</h2>
                        <p class="product-description">@Model.Product.ProductDescription</p>

                        <div class="product-details-add-to-cart">

                            @{
                                int priceAsInt = (int)Model.Product.Price;
                                int availableQty = 0;
                            }
                            <p class="price">€@priceAsInt</p>
                            <div class="column small-12 large-6">
                                <h6 class="product-color-title">Size</h6>
                                <select asp-for="@Model.Size.Id" class="form-control">
                                    @foreach (var size in Model.SizeSelectList)
                                    {
                                        int sizeId = Convert.ToInt32(size.Value);
                                        availableQty = Model.AvailableQuantities.ContainsKey(sizeId) ? Model.AvailableQuantities[sizeId] : 0;
                                        if (availableQty > 0)
                                        {
                                            <option value="@size.Value" data-available-qty="@availableQty">
                                                @size.Text
                                                @if (availableQty <= 10)
                                                {
                                                    <span>(only @availableQty left in stock)</span>
                                                }
                                            </option>
                                        }
                                        
                                    }
                                </select>
                                <br />
                                <span>Qty:</span> 
                                <select asp-for="ShoppingCart.Qty" class="qty">
                                    @for (int i = 1; i <= 10; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                                <span asp-validation-for="@Model.ShoppingCart.Qty" class="text-danger"></span>
                                <span class="error-message text-danger"></span>
                            </div>
                            <br />
                            <button type="submit" id="addToCartBtn" asp-route-id="@Model.Product.Id" class="btn btn-dark form-control">Add to Cart</button>

                            
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>
</body>
</html>


@section Scripts {
    <script type="text/javascript" src="~/js/homeDetails.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        


    </script>
    
}