@model clothing_shop.Models.ViewModels.DetailsVM


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <form method="post">
        <input asp-for="@Model.Product.Id" hidden />
        <div class="return-link">
            <a asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <g clip-path="url(#clip0_60_2)">
                        <rect width="19" height="19" fill="white" />
                        <line x1="0.53033" y1="0.46967" x2="18.5303" y2="18.4697" stroke="black" stroke-width="1.5" />
                        <line x1="18.5303" y1="0.53033" x2="0.530328" y2="18.5303" stroke="black" stroke-width="1.5" />
                    </g>
                    <defs>
                        <clipPath id="clip0_60_2">
                            <rect width="19" height="19" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </div>
        <div class="product-container">
            
            <div class="product-image">
                <img src="@WC.ImagePath@Model.Product.Image">
            </div>
            <div class="product-description">
                <div class="row align-center">
                    <div class="product-details column medium-6 center-text-for-small-only">
                        <h1>@Model.Product.ProductName</h1>
                        <p class="product-description">@Model.Product.ProductDescription</p>

                        <div class="product-details-add-to-cart">
                            
                            @{
                                int priceAsInt = (int)Model.Product.Price;
                            }
                            <p class="price">€@priceAsInt</p>
                            <div class="column small-12 large-6">
                                <h6 class="product-color-title">Size</h6>
                                <select asp-for="SelectedSizeId" asp-items="@Model.SizeSelectList" class="form-control"></select>
                            </div>
                            <p> <span>Qty:</span> <input asp-for="@Model.Quantity" class="qty" type="number" value="1"> </p>
                            <button type="submit" asp-route-id="@Model.Product.Id" class="button expanded">Add to Cart</button>

                            
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>

        
    </form>
</body>
</html>

    
