@model List<Product>
@using Shop_Utility


@if (Model.Count() > 0)
{
	<form method="post">
		<div class="container mt-4">
			<div class="card">
				<div class="card-header d-flex justify-content-between align-items-center">
					<span style="font-weight: bold;">Shopping Cart</span>
					<a asp-action="Index" asp-controller="Home" class="btn btn-outline-dark">Continue Shopping</a>
				</div>

				<div class="card-body">
					<br />
					<hr />
					@{
						var orderTotal = 0.0;
					}

					@for (int i = 0; i < Model.Count(); i++)
					{
						<input hidden asp-for="@Model[i].Id" />
						<input hidden asp-for="@Model[i].Size" />
						<input hidden asp-for="@Model[i].Size.Id" />
						<input hidden asp-for="@Model[i].Size.Name" />
						<br />
						<div class="row">
							<div class="col-md-4">
								<img src="@WC.ImagePath@Model[i].Image" class="rounded mx-auto d-block" style="width: 55%; height: auto;" alt="Product Image" />
							</div>
							<div class="col-md-4">
								<h4>@Model[i].ProductName</h4>
								<p>@Model[i].ProductDescription</p>
								<p><strong>Price:</strong> €@Model[i].Price</p>
								<p><strong>Size:</strong> @Model[i].Size.Name</p>

								<p><strong>Qty:</strong> <input asp-for="@Model[i].TempQty" class="qty form-control-sm" /></p>
								<br /><br />
								<div class="col-md-4">
									<a asp-action="Remove" asp-route-id="@Model[i].Id" class="btn btn-danger btn-sm">
										<i class="fas fa-trash-alt"></i> Delete
									</a>
								</div>
								<br />
							</div>
							<div class="col-md-4">
								<div class="text-right">
									<p>€@(@Model[i].Price * @Model[i].TempQty)</p>
								</div>
							</div>
						</div>
						orderTotal += @Model[i].Price * @Model[i].TempQty;
						<br />
						<hr />

					}
				</div>
				
				<div class="card-footer">
					<div class="row justify-content-end">

						<div class="col-6 col-md-3">
							<p><strong>Order Total:</strong> €@orderTotal</p>
							<div class="row">
								<div class="col-6">
									<input type="submit" asp-action="UpdateCart" formmethod="post" name="Update" value="Update Cart"
										   class="btn btn-outline-dark form-control" />
								</div>
								<div class="col-6">
									<button type="submit" class="btn btn-dark form-control ">
										<span>Continue</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</form>
}
else
{
	<br />
	<p>Cart is empty!</p>
}

