@model Shop_Models.ViewModels.ProductUserVM


<form method="post" id="payment-form">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center bg-dark text-light">
                    <span style="font-weight: bold;">Order Summary</span>
                    <a asp-action="Index" class="btn btn-outline-light">Back to Cart</a>
                </div>

                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-7 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-dark">User Details:</span>
                                    </h4>
                                </div>

                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.FullName" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.PhoneNumber" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.Email" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Street Address</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.StreetAddress" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.StreetAddress" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>City</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.City" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>State</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.State" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.State" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Postal Code</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.PostalCode" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.PostalCode" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 row">
                                <div class="col-12">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-dark">Summary:</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @{var orderTotal = 0.0;}
                                        @for(int i = 0; i < Model.ProductList.Count(); i++)
                                        {
                                            <input type="hidden" asp-for="@Model.ProductList[i].Id" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].ProductName" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].Price" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].Size" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].TempQty" />
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@Model.ProductList[i].ProductName</h6>
                                                    <small class="text-muted">Size: @Model.ProductList[i].Size.Name</small>&nbsp;&nbsp;
                                                    <small class="text-muted">Qty: @Model.ProductList[i].TempQty</small>&nbsp;&nbsp;
                                                    <small class="text-muted">Price: €@(Model.ProductList[i].Price * Model.ProductList[i].TempQty)</small>
                                                </div>
                                            </li>
                                            orderTotal += Model.ProductList[i].Price * Model.ProductList[i].TempQty;
                                        }
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <small class="text-dark"> Total (EUR)</small>
                                            <strong class="text-dark">€@orderTotal</strong>
                                        </li>
                                    </ul>
                                </div>
                                @if (User.IsInRole(Shop_Utility.WC.AdminRole))
                                {
                                    <div class="col-12">
                                        <div class="wrapper">
                                            <div class="checkout container">
                                                <div id="dropin-container"></div>
                                                <input id="nonce" name="payment_method_nonce" type="hidden"/>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-5 offset-md-7">
                            <button type="submit" class="btn btn-primary form-control">Submit Inquiry</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    
}
