@model Shop_Models.ViewModels.ProductVM

@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Create</h1>

    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Product.ProductName" class="control-label"></label>
                    <input asp-for="Product.ProductName" class="form-control" />
                    <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.ProductDescription" class="control-label"></label>
                    <textarea asp-for="Product.ProductDescription" class="form-control"></textarea>
                    <span asp-validation-for="Product.ProductDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Price" class="control-label"></label>
                    <input asp-for="Product.Price" class="form-control" step="0.01" value="@Model.Product.Price.ToString("0.##", System.Globalization.CultureInfo.InvariantCulture)" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Product.Image" class="control-label"></label>
                    <input asp-for="Product.Image" type="file" name="ProductImage" id="uploadBox" multiple class="form-control" />
                    <span asp-validation-for="Product.Image" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="GalleryFiles" class="control-label">Gallery Photos</label>
                    <div class="gallery-container">
                        <div class="add-image">
                            <input type="file" name="GalleryFiles" multiple class="form-control" onchange="addGalleryImage(event)" />
                            <span class="add-icon">+</span>
                        </div>
                    </div>
                </div>

                @* <div class="form-group">
                    <label asp-for="Product.DisplayOrder" class="control-label"></label>
                    <input asp-for="Product.DisplayOrder" class="form-control" />
                    <span asp-validation-for="Product.DisplayOrder" class="text-danger"></span>
                </div> *@

                <div class="form-group">
                    <label asp-for="SelectedSizeIds" class="control-label">Select Sizes</label>
                    @foreach (var size in Model.SizeSelectList)
                    {
                        <div>
                            <input type="checkbox" name="SelectedSizeIds" value="@size.Value" class="size-checkbox" />
                            <label>@size.Text</label>
                            <input type="number" name="AvailableQuantities[@size.Value]" value="0" min="1" class="form-control quantity-input" style="display: none;" />
                            <span asp-validation-for="AvailableQuantities" class="text-danger"></span>

                        </div>
                    }
                    <span asp-validation-for="SelectedSizeIds" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Product.ColorsId" class="control-label"></label>
                    <select asp-for="Product.ColorsId" asp-items="@Model.ColorsSelectList" class="form-control">
                        <option disabled selected>--Select Color--</option>
                    </select>
                    <span asp-validation-for="Product.ColorsId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.CategoryId" class="control-label"></label>
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategorySelectList" class="form-control">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.BrandId" class="control-label"></label>
                    <select asp-for="Product.BrandId" asp-items="@Model.BrandSelectList" class="form-control">
                        <option disabled selected>--Select Brand--</option>
                    </select>
                    <span asp-validation-for="Product.BrandId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.GenderId" class="control-label"></label>
                    <select asp-for="Product.GenderId" asp-items="@Model.GenderSelectList" class="form-control">
                        <option disabled selected>--Select Gender--</option>
                    </select>
                    <span asp-validation-for="Product.GenderId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.StyleId" class="control-label"></label>
                    <select asp-for="Product.StyleId" asp-items="@Model.StyleSelectList" class="form-control">
                        <option disabled selected>--Select Style--</option>
                    </select>
                    <span asp-validation-for="Product.StyleId" class="text-danger"></span>
                </div>

                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.quantity-input').hide();

            $('.size-checkbox').change(function () {
                var container = $(this).closest('div');
                var quantityInput = container.find('.quantity-input');

                if ($(this).prop('checked')) {
                    quantityInput.show();
                } else {
                    quantityInput.hide();
                }
            });
            $('.size-checkbox:checked').each(function () {
                var container = $(this).closest('div');
                var quantityInput = container.find('.quantity-input');
                quantityInput.show();
            });
        });

        function addGalleryImage(event) {
            var files = event.target.files;

            var galleryContainer = $('.gallery-container');

            for (var i = 0; i < files.length; i++) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = $('<img>').attr('src', e.target.result).css({
                        width: '100px',
                        height: '100px',
                        objectFit: 'cover'
                    });
                    var galleryImage = $('<div>').addClass('gallery-image').append(img);
                    galleryContainer.append(galleryImage);

                    var addImage = galleryContainer.find('.add-image').detach();
                    galleryContainer.append(addImage);
                };

                reader.readAsDataURL(files[i]);
            }
        }
    </script>
    <style>
        .gallery-container {
            display: flex;
            flex-wrap: wrap;
        }

        .gallery-image {
            position: relative;
            margin-right: 10px;
            margin-bottom: 10px;
        }

            .gallery-image img {
                display: block;
                width: 100px;
                height: 100px;
                object-fit: cover;
            }

        .add-image {
            position: relative;
            width: 100px;
            height: 100px;
            border: 2px dashed #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            margin-bottom: 10px;
        }

            .add-image input[type="file"] {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }

        .add-icon {
            font-size: 24px;
            color: #ccc;
        }
    </style>
}
