@model IEnumerable<Shop_Models.Product>
@using Shop_Utility

@{
    ViewData["Title"] = "Index";
}

<h1>Product list</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if(Model.Any())
{
    <div class="row">
        @foreach (var item in Model.Reverse())
        {
            <div class="col-lg-3 col-md-4 pb-3 filter @item.Category.Name.Replace(' ','_')">
                <div class="card bg-white shadow-sm">
                    <img class="card-img-top img-fluid d-block mx-auto mb-2" src="@WC.ImagePath@item.Image" alt="Card image cap">
                    <div class="card-body">
                        <div class="col-12">
                            <label class="text-center">@item.ProductName</label>
                        </div>
                        <div class="col-12">
                            <p>@item.ProductDescription</p>
                        </div>
                        @{
                            int priceAsInt = (int)item.Price;
                        }
                        <div class="col-12">
                            <label class="price">€@priceAsInt</label>
                        </div>
                        <div class="col-12 p-1">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark form-control btn-sm p-2">Edit</a>
                        </div>
                        <div class="col-12 p-1">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark form-control btn-sm p-2">Details</a>
                        </div>
                        <div class="col-12 p-1">
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark form-control btn-sm p-2">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else 
{
    <p>No product exist!</p>
}

